body {
  text-align: center;
  font-family: sans-serif;
  min-height: 100vh;
  background-color: lightblue;
}

.checkDiv {
  display: block;
  width: 90%;
  border: solid red 10px;
  background-color: blue;
  margin: 15px 5%;
  font-size: 2em;
  height: 100px;
}

.checkDivText {
  display: block;
  margin: 10px auto;
  color: #fff;
}

#submit {
  width: 40%;
  height: 50px;
  font-size: 2em;
  color: blue;
  background-color: #1FBED6;
}
